# Copy to terraform.tfvars and edit. terraform.tfvars is gitignored.
identity_subscription_id       = "REPLACE_WITH_SUB-NORTHWIND-IDENTITY_ID"
environment                    = "prd"
admin_password                 = "ReplaceWithYourOwnPassword1!"
owner                          = "your.name@northwind.example"
cost_centre                    = "REPLACE_WITH_REAL_COST_CENTRE"
eastus2_hub_vnet_id            = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
westeurope_hub_vnet_id         = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
eastus2_hub_resource_group     = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
westeurope_hub_resource_group  = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
eastus2_hub_vnet_name          = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
westeurope_hub_vnet_name       = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
eastus2_firewall_private_ip    = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
westeurope_firewall_private_ip = "REPLACE_WITH_CONNECTIVITY_MODULE_OUTPUT"
